<!DOCTYPE html>
<html lang = "en-US">
    <head>
    	<meta charset="UTF-8">
    	<title>TVG Blog</title>
    	<link
    		rel="stylesheet"
    		type = "text/css"
    		href = "blogt.css" />
    		<link
    		rel="stylesheet"
    		type = "text/css"
    		href = "layout.css" />
    </head>

<body>
	<!--header starts -->
	<div id="header" class="section">
		<img src="tim.jpg" alt="Timothy"/>
		<p>Timothy V Gororo</p>
	    </image>
</div>
    <!-- header ends -->

    <!-- about me section starts -->
    <div class="section">
    	<h1><span>About Me</span></h1>
    	<p>
    		Hey I'm Timothy. Its Not just about me. Learning gave me <i> problem solving skills</i>
    		and a way to communicate with others on a technical level.Lets all <strong>Learn</strong>
    		along the way.
    	</p><p class="quote">Declare variables not war</p>
    	 <div>
          <p><button><b>READ MORE »</b></button></p>
        </div>
        <div class="w3-col m4 w3-hide-small">
          <p><span><b>Comments</b><span class="w3-tag">0</span></span></p>
        </div>
    </div>


    <!-- Schedule -->
    <div class="section">
    	<h1><span>My Normal Days Schedule</span></h1>
    	<table>
    		<tr>
    			<th>Day</th>
    			<th>Monday</th>
    			<th>Tuesday</th>
    			<th>Wednesday</th>
    			<th>Thursday</th>
    			<th>Friday</th>
    			<th>Sataday</th>
    			<th>Sunday</th>
    		</tr>
    		<tr>
    			<td>8-430am</td>
    			<td class="selected">Work</td>
    			<td></td>
    			<td></td>
    			<td></td>
    			<td></td>
    			<td></td>
    			<td></td>
    		</tr>
    		<tr>
    			<td>12:30-2:00</td>
    			<td></td>
    			<td class="selected">Lunch</td>
    			<td class="selected"></td>
    			<td></td>
    			<td></td>
    			<td></td>
    			<td></td>
    		</tr>
    		<tr>
    			<td>4:30-6pm</td>
    			<td></td>
    			<td></td>
    			<td class="selected">Going Home</td>
    			<td></td>
    			<td></td>
    			<td></td>
    			<td></td>
    		</tr>
    		<tr>
    			<td>6:30-7:30pm</td>
    			<td></td>
    			<td></td>
    			<td></td>
    			<td class="selected">Dinner</td>
    			<td></td>
    			<td></td>
    			<td></td>
    		</tr>
    		<tr>
    			<td>7:30-9pm</td>
    			<td></td>
    			<td></td>
    			<td></td>
    			<td></td>
    			<td class="selected">Reading</td>
    			<td></td>
    			<td></td>
    		</tr>
    		<tr>
    			<td>9-12am</td>
    			<td></td>
    			<td></td>
    			<td>Duties</td>
    			<td></td>
    			<td></td>
    			<td class="selected">Movies</td>
    			<td></td>
    		</tr>
    		<tr>
    			<td>5:30-6am</td>
    			<td>Up for work</td>
    			<td></td>
    			<td></td>
    			<td></td>
    			<td></td>
    			<td></td>
    			<td class="selected">PhysicalTraining</td>
    		</tr>
    	</table>
    </div>
    <!-- schedule ends -->
   <!-- adventures -->
   <div class="w3-col l4">
  <!-- About Card -->
  <div class="w3-card w3-margin w3-margin-top">
  <img src="tim8.jpg" style="width:100%">
    <div class="w3-container w3-white">
      <h4><b>Timothy</b></h4>
      <p>Just me, myself and my kid, exploring. I have a heart of love and an interest in nature. I want to share my world with you on this blog.</p>
    </div>
  </div><hr>

<div class="fieldset">
  <textarea name="Share something"
  	placeholder="share something" type="text" required>
  </textarea>
</div>
  <div class="w3 container">
  <button> submit</button>
</div>


    <!-- My skils sections -->
    <div class="w3-container">
    	<h1><span>My Skills</span></h1>
    	<ul class="w3-ul w3-hoverable w3-white">
    		<li>Python<br />
    			<progress value="70" ="" max="100"></progress>
    		</li>
    		<li>HTML<br />
    			<progress value="100" max="100"></progress>
    		</li>
    		<li>Css<br />
    			<progress value="100" max="100"></progress>
    		</li>
    		<li>Javascript<br />
    			<progress value="88" max="100"></progress>
    		</li>
    		<li>SQL<br/ >
    			<progress value="100" max="100"></progress>
    		</li>
    	</ul>
    </div>
    <!-- Skills ends here -->

    <!-- Media and posts section starts -->
    <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Popular Posts</h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
      <li class="w3-padding-16">
        <img src="tim3.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Timothy</span><br>
        <span>@ Support Unit Camp Hospital</span>
      </li>
      <li class="w3-padding-16">
        <img src="tim8.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Lovely</span><br>
        <span>Geenwoods</span>
      </li>
      <li class="w3-padding-16">
        <img src="tim4.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Asante</span><br>
        <span>### @Mugabe studio</span>
      </li>
      <li class="w3-padding-16 w3-hide-medium w3-hide-small">
        <img src="tim2.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Coding</span><br>
        <span>#its just interesting</span>
      </li>
    </ul>
  </div>
  <hr>
    <div class="section">
    	<h1><span>My Media</span></h1>
    	<h2><span>Photos</span></h2>
    	<h2><span>Videos</span></h2>
    	<video controls>
    		<source src="ngirozi.mp4" type="video/mp4"/>
    	<iframe height="150" width="300"
    	allowfullscreen frameborder="0">
    	</iframe>
    </video>
    <video controls>
    		<source src="dating.mp4" type="video/mp4"/>
    	<iframe height="150" width="300"
    	allowfullscreen frameborder="0">
    	</iframe>
    </video>
    <video controls>
    	<source src="pass.mp4" type="video/mp4">
    	<iframe height="150" width="300"
    	allowfullscreen frameborder="0">
    	</iframe>
    </video>
    </div>
    <div class="w3-container">
    	<h2><span>Source Of Inspiration</span></h2>
    	<h4 style="font-family: sans-serif;" color="green";>--------------------Desiderata-----------------------</h4>
    <pre>
    <i>
    	Go placidly amid the noise and haste,
    	and remember what peace there maybe in silence.
    	As far as possible without surrender be on
    	good terms with all persons. Speak youur truth
    	quietly and clearly; and listen to others,
    	even the dull and the ignorant; they
    	too have their story.
    	Avoid loud and agressive persons, they are
    	vexations to the spirit.
    	If you compare yourself with others, you
    	become vain and bitter; for always there
    	will be greater and lesser persons than yourself.
    	Enoy your achievements as well as your plans.
    	Keep interested in your own career, however humble;
    	it is a real possession in the changing fortunes
    	of time.
    	Exercise caution in your business affairs;
    	for the world is full of trickery.
    	But let this not blind you to what virtue there
    	is; many persons strive for high ideals; and everywhere
    	life is full of heroism. Be yourself. Especially,
    	do not feign affection. Neither be cynical about love;
    	fo in the face of all aridity and disenchantment it is
    	perennial as grass. Take kindly the counsel of the years
    	gracefully surrendering the things of youth.
    	Nurture strength of spirit to shield you in sudden misfortune.
    	But do not distress yourself with imaginings. many fears are born
    	of fatigue and loneliness. Beyond a wholesome discipline,
    	be gentle with yourself. You are a child of the universe
    	no less than the trees and the stars; you have a right to be here.
    	And wether or not it is clear to you, no doubt the universe
    	is unfolding as it should. Therefore be at peace with God,
    	whatever you conceive Him to be, and whatever you
    	labors and aspirations, in the noisy
    	confusion of life keep peace with
    	your soul.
    	With all its sham, drudgery
    	and broken dreams, it
    	is still a beautiful
    	world. Strive
    	to be
    	Happy!
    </i>

    	~~~~~~~~~~~~~ <b> By Max Ehrmann 1927 </b>  ~~~~~~~~~~~~~



    	....................<strong>Me!</strong>..................

    	My joy lies over the sea
    	My soul lies over the Ocean.
    	No one can reach my joy
    	No One can reach my soul
    	I am the sea
    	The Ocean is Me
    	My work is My Pride
    	My pride is My Success
    	And Timothy is success
    	Timothy is me

    	**************** <b> By Me March 2018</b>  ***************
    </pre>
        <p><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></p>
        </div>

    <!-- media section ends -->

    <!-- form section starts  -->
    <div class="section">
    	<h1><span>Contact Me</span></h1>
    	<svg class="face" height="100" width ="100">
    		<circle cx="50" cy="50" r="50" fill="#FDD835"/>
    		<circle cx="30" cy="30" r="10" fill="#FFFFFF"/>
    		<circle cx="70" cy="30" r="10" fill="#FFFFFF"/>
    		<circle cx="30" cy="30" r="5" fill="#000000"/>
    		<circle cx="70" cy="30" r="5" fill="#000000"/>
    		<path d="M 30 70 q 20 20 40 0" stroke="#FFFFFF" stroke-width="5" fill="none"/>
    	</svg>

    	<form>
    		<input name="name"
    		placeholder="Name" type="text" required /><br/>
    		<input name="email"
    		placeholder="Email" type="email" required/><br/>
    		<textarea name="message"
    		placeholder="Message" required></textarea>
    		<input type="submit" value="SEND" class="submit"/>
    	</form>
    </div>

    <!-- form ends -->
    <!--contact me -->
    <div class="section" id="contacts">
    	<h1><span>Follow Me</span></h1>
    	<div>
    		<a href="#">
    		    <img  alt="Facebook" src=""/></a>
    		</div>
    </div>
    <!-- Footer -->
<footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
  <button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Previous</button>
  <button class="w3-button w3-black w3-padding-large w3-margin-bottom">Next »</button>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>
    <div class="copyright">&copy; 2017 My Blog. All rights reserved> Gavin Tvgbraggre
    </div>
</body>
</html>
